// @mixin orange($orange);
$orange: rgb(246, 74, 30);
@mixin GOT() {
  font-family: "GameOfThrones";
  font-weight: 700;
}
html {
  background: black;
}

//todo globe and socialMedia text on Laptop extreme sizes
.App {
  text-align: center;
  background: #d7dae6;
  width: 90%;
  margin: auto;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;

  .sub-text {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.45rem;
    text-align: right;
    letter-spacing: 0.12rem;
    // word-spacing: 0.2rem;
    margin-top: 2.4rem;
    padding-bottom: 2rem;
    line-height: 1.45rem;
    text-shadow: 1.45px 1.45px black;
    span:first-child {
      padding-right: 17.5%;
    }
    span:nth-child(2) {
      padding-right: 8%;
    }
  }
}
