// @mixin orange($orange);
@import "../Utils/Mixins/Mixins.scss";


// $orange: rgb(246, 74, 30);
@mixin GOT() {
  font-family: "GameOfThrones";
  font-weight: 700;
}

html {
  background: black;
}

//todo globe and socialMedia text on Laptop extreme sizes
.App {
  text-align: center;
  background: #d7dae6;
  width: 90%;
  margin: auto;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: $darkBlue;

  @include breakpoint(mobile) {
    width: 100%;
    font-size: 1.12rem;
  }

  header {
    display: flex;

    .cta {
      background: rgb(248, 54, 0);
      background: linear-gradient(0deg, rgba(248, 54, 0, 1) 10%, rgba(250, 204, 34, 1) 80%);
      width: 27%;

      @include breakpoint(laptop) {
        width: 50%;
      }

      p {
        // height: 60%;
        // margin: 0;
        margin: 7.5% auto;
        font-size: 1.3em;
        font-weight: 700;

        @include breakpoint(laptop) {
          font-size: 1.15em;
          margin: 25% auto 10%;
        }

        span {
          color: $darkBlue;
          text-decoration: underline;
        }
      }

      .btns {
        display: flex;
        justify-content: space space-around;
        height: 40%;
        width: 80%;
        margin: auto;

        .cta-btn {
          margin: auto;
        }

        .cta-mail {
          width: 45%;
          height: 65%;

          @include breakpoint(laptop) {
            width: 43%;
            height: 63%;
          }
        }

        .cta-phone {
          width: 25%;
          height: 65%;

          @include breakpoint(laptop) {
            width: 20%;
            height: 45%;
          }
        }

      }
    }
  }
}
