@import "../Utils/Mixins/Mixins.scss";

footer {
  background-image: url("../../images/blue-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  border-top: 0.65rem solid $orange;

  img {
    width: 92%;
    height: 20vh;
    margin: 5% auto 1%;

    @include breakpoint(mobile) {
      height: 10vh;
    }
  }

  #sub-header {
    -webkit-text-stroke: 0.85px $darkBlue;
    text-shadow: 5px 5px $darkBlue;
    text-align: center;

    @include breakpoint(laptop) {
      font-size: 2.75em;
    }

    @include breakpoint(mobile) {
      font-size: 1.2em;
      text-shadow: 2px 2px $darkBlue;
      -webkit-text-stroke: 0px;
    }
  }

  p {
    font-weight: 600;
    font-size: 3em;
    letter-spacing: 5px;
    color: $orange;
    margin: 0.175em auto;
    // text-shadow: -0.5px -0.5px white;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem auto 0.5rem;

    @include breakpoint(mobile) {
      flex-direction: row-reverse;
    }

    p {
      color: white;
      font-family: poppins, sans-serif;
      font-weight: normal;
      font-size: 1em;
      letter-spacing: 1px;
      text-align: justify;
      padding: 0 10%;

      @include breakpoint(mobile) {
        padding: 0;
        text-align: left;
      }
    }

    .contact {
      width: 23%;
      margin-right: 4%;

      // padding-left: 1.367rem;
      @include breakpoint(laptop) {
        width: 25%;
        margin-right: 8%;
      }

      @include breakpoint(mobile) {
        margin-right: 0;
        width: 35%;
        margin-left: 0.8em;
      }

      span {
        color: white;
        font-size: 1.35em;
        text-align: justify;
        padding: 0 7%;

        @include breakpoint(mobile) {
          display: none;
        }
      }

      p {
        margin-top: 1rem;
        text-align: left;
        padding-left: 3em;

        @include breakpoint(mobile) {
          margin: 0;
        }
      }
    }
  }

  .email {
    width: 50%;
    margin-left: 4%;
    font-weight: 700;

    @include breakpoint(mobile) {
      // display: none;
      // font-size: .8em;
      margin-left: 0;
      width: auto;
    }

    span {
      padding: 0 7%;
      width: auto;
      font-size: 1.35em;

      @include breakpoint(mobile) {
        display: none;
      }
    }

    p {
      margin-top: 1rem;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .smBtns {
    display: flex;
    justify-content: space-between;
    margin: -2em auto 0.25em;
    width: 50%;

    @include breakpoint(mobile) {
      width: 80%;
      margin: 0.8em auto 0;
    }

    img {
      height: 3em;
      width: 3em;

      // margin: .25em;
      @include breakpoint(mobile) {
        height: 2em;
        width: 2em;
      }
    }

    .linkedIn {
      display: flex;
      flex-direction: column;
    }

  }


  //copy
  span {
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 1.5rem auto 0.75rem;

    @include breakpoint(mobile) {
      margin: 1.5rem auto 0.2rem;
      text-align: center;
      color: darkgrey;
    }
  }
}
