@import "../../Utils/Mixins/Mixins.scss";

.website-usability {
  img {
    width: 100%;
    height: 60vh;
  }
  .content {
    margin: auto 2em;
    text-align: left;
    ul {
      list-style: none;
      li::before {
        content: "•";
        color: $orange;
        font-size: 1.2em;
        margin-right: 0.5em;
      }
    }
  }
}
