@import "../../Utils/Mixins/Mixins.scss";

.website-usability {

  //todo crop bottom of img a little
  img {
    width: 100%;
    height: 65vh;
    border-bottom: 50px outset $darkBlue; //2px
    // todo fix  border on bottom
  }

  .content {
    margin: auto 2em 2em;
    text-align: left;

    h1 {
      text-align: center;
      margin: 1.45em auto;

      @include breakpoint(laptop) {
        margin: 1.1em auto;
      }
    }

    p {
      span {
        font-weight: 600;
      }
    }

    ul {
      list-style: none;
      margin: 2em auto 3.5em;


      li {
        margin-top: 1em;

        //todo make bulletpoint fall inline
        &::before {
          content: "•";
          color: $orange;
          font-size: 1.5em;
          margin-right: 0.45em;
        }
      }


    }
  }
}
