@import "../../Utils/Mixins/Mixins.scss";

.print-and-graphic-design-services {
  img {
    width: 100.1%;
    height: 40vh;
  }
  h1 {
  }
  .content {
    p {
    }
    section {
      display: flex;
      margin: 2rem;
      align-items: center;
      img {
        height: 11em;
        width: 12.5em;
      }
      #coffeeShelf {
        height: 14em;
        width: 12em;
      }
      p {
        margin: 2em 1em;
        text-align: left;
        span {
          font-weight: 600;
        }
      }
    }
  }
}
