@import "../Utils/Mixins/Mixins.scss";

.print-and-graphic-services {
  img {
    width: 100%;
    height: 60vh;
  }
  .content {
    margin: auto 2em;
    h1 {
      margin: 1em auto 0.8em;
    }
    p {
      text-align: left;
    }
  }
}
