@import "../../Utils/Mixins/Mixins.scss";

.custom-website-design {

  img {
    height: 50vh;
    width: 100%;
    border-top: 2px solid $darkBlue;
    border-bottom: 2px solid $darkBlue;
  }

  .content {
    margin: 2em 2em 4em;
    text-align: left;

    @include breakpoint(laptop) {
      margin: 2em 2em 3em;
    }

    @include breakpoint(mobile) {
      margin: 1.5em 0;
    }

    h1 {
      text-align: center;
      margin-bottom: 1.5em;

      @include breakpoint(laptop) {
        margin-bottom: 1.1em;
      }

      @include breakpoint(mobile) {
        margin-bottom: 1em;
      }

    }

    @include breakpoint(mobile) {
      p {
        margin: 2em 1em;
      }
    }

    ol {
      margin: 2em auto;
      margin-left: 1.75em;

      li {
        color: $orange;
        line-height: 1.35em;
      }
    }

    span {
      font-weight: 600;
    }
  }
}
