@import "../Utils/Mixins/Mixins.scss";


.contact {
  height: 100%;

  h2 {
    // padding-top: 1em;
    margin-top: 1.2em;
    color: $darkBlue;
  }

  p {
    font-style: italic;
    margin: 1em auto 3em;
  }
}
