@charset "UTF-8";
@media (min-width: 800px) and (max-width: 1449px) {
  .home {
    margin-bottom: 3.1em;
  }
}

.home video {
  width: 100%;
  height: 100%;
}

.globe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: url("../../images/globe-stretch-new.png");
  background-size: 101% 105%;
  background-repeat: no-repeat;
  height: 55vh;
  min-width: 80%;
  border-bottom: 2px solid #0b2673;
}

@media (max-width: 480px) {
  .globe {
    height: 30vh;
    background-size: 124%;
  }
}

.globe p {
  text-align: center;
  font-weight: normal;
  width: 40%;
  margin: auto;
  margin-right: 55%;
  color: white;
}

@media (min-width: 800px) and (max-width: 1449px) {
  .globe p {
    margin-top: 5%;
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  .globe p {
    width: 90%;
    height: 80%;
    margin: 6% 30% auto 2%;
    padding: 0;
    text-align: left;
    line-height: 1.25em;
  }
}

.globe p span {
  font-size: 1.4em;
  font-weight: bold;
  color: #40a5fb;
}

@media (max-width: 480px) {
  .globe p span {
    font-size: 1em;
  }
}

.silhouette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.9rem 1.5rem;
}

@media (max-width: 480px) {
  .silhouette {
    padding: 2rem 1.5rem;
  }
}

.silhouette img {
  width: 50%;
  height: 100%;
  margin: auto 0.4rem;
  -webkit-box-shadow: 9px 7px 5px #999999;
          box-shadow: 9px 7px 5px #999999;
  border: 1px solid #0b2673;
  border-radius: 5%;
}

@media (max-width: 480px) {
  .silhouette img {
    display: none;
  }
}

.silhouette p {
  width: 44%;
  margin: auto;
  text-align: justify;
  padding: 1.4rem;
}

@media (max-width: 480px) {
  .silhouette p {
    width: 100%;
    padding: 0;
  }
}

.silhouette p span {
  font-weight: 600;
  color: #40a5fb;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0 1.5rem;
  margin-bottom: 2.7rem;
}

@media (max-width: 480px) {
  .social-media {
    display: inline-block;
    padding: 0;
    margin-bottom: 2rem;
  }
}

.social-media img {
  width: 50%;
  height: 100%;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 9px 7px 5px #999999;
          box-shadow: 9px 7px 5px #999999;
  border-radius: 5%;
  border: 1px solid #0b2673;
}

@media (max-width: 480px) {
  .social-media img {
    width: 100%;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 1rem;
  }
}

.social-media .content {
  width: 50%;
  margin: 1rem auto;
  padding-top: 10%;
  text-align: justify;
}

@media (min-width: 800px) and (max-width: 1449px) {
  .social-media .content {
    padding-top: 6%;
    margin-top: .25em;
  }
}

@media (max-width: 480px) {
  .social-media .content {
    margin: 0;
    width: 90%;
    padding: 1.4rem 1.4rem 0;
  }
}

.social-media .content p {
  width: 80%;
  margin: 0 auto 7%;
}

.social-media .content p :first-child {
  color: #f64a1e;
  font-weight: 500;
}

@media (max-width: 480px) {
  .social-media .content p {
    width: 100%;
  }
}

.social-media .content span {
  text-decoration: underline;
  color: #1e92f6;
  font-weight: 600;
}

@media (max-width: 480px) {
  .social-media .content span {
    text-decoration: none;
  }
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120%;
  padding: 0 1.5rem;
  margin-bottom: 5%;
}

@media (max-width: 480px) {
  .mission {
    display: inline-block;
  }
}

.mission .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../../images/man-background.png");
  background-size: 105% 105%;
  width: 50%;
  color: white;
  border: #0b2673 2px ridge;
  border-radius: 5%;
}

@media (max-width: 480px) {
  .mission .left {
    width: 100%;
  }
}

.mission .left p {
  padding: 22% 17%;
  line-height: 1.75em;
  font-size: 1.2em;
  text-align: justify;
  margin: auto 3%;
}

@media (min-width: 800px) and (max-width: 1449px) {
  .mission .left p {
    font-size: 1.1em;
    padding: 2% 12%;
  }
}

@media (max-width: 480px) {
  .mission .left p {
    padding: 20% 10%;
    font-size: 1em;
  }
}

.mission .right {
  background: url("../../images/trees-background.png");
  background-size: 100% 140%;
  background-position-y: 10%;
  background-repeat: no-repeat;
  width: 50%;
  margin-left: 2.65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: #0b2673 2px ridge;
  border-radius: 5%;
}

@media (max-width: 480px) {
  .mission .right {
    width: 100%;
    margin: 0;
    margin-top: 5%;
  }
}

.mission .right img {
  width: 70%;
  height: 10%;
  margin: 3em auto 0.125rem;
}

@media (min-width: 800px) and (max-width: 1449px) {
  .mission .right img {
    width: 72%;
    height: 8%;
  }
}

@media (max-width: 480px) {
  .mission .right img {
    height: 50%;
  }
}

.mission .right h4 {
  font-size: 1.5em;
  color: #f64a1e;
  text-shadow: 2px 2px #1d1d1d;
  margin: 0.7em auto 0px;
}

@media (min-width: 800px) and (max-width: 1449px) {
  .mission .right h4 {
    font-size: 1.4em;
  }
}

.mission .right p {
  font-size: 1.25em;
  margin-top: 0.15rem;
  color: #0b2672;
}

@media (min-width: 800px) and (max-width: 1449px) {
  .mission .right p {
    font-size: 1em;
  }
}

.mission .right ul {
  width: 72.5%;
  margin: 1.5rem auto;
  list-style: none;
  text-align: left;
  padding: 0.5rem;
  padding-left: 1rem;
}

@media (max-width: 480px) {
  .mission .right ul {
    margin: 0 auto;
  }
}

.mission .right ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  line-height: 1.3em;
  color: #0b2672;
  font-size: 1.2em;
  margin-bottom: 0.78rem;
  font-weight: 600;
}

@media (min-width: 800px) and (max-width: 1449px) {
  .mission .right ul li {
    font-size: .95em;
    line-height: 1.2em;
  }
}

@media (max-width: 480px) {
  .mission .right ul li {
    font-size: 1em;
  }
}

.mission .right ul ::before {
  content: "»";
  font-size: 1.2em;
  color: #f64a1e;
  margin-right: 1%;
  -ms-flex-line-pack: center;
      align-content: center;
  text-shadow: 0.75px 0.75px #1d1d1d;
}

.mission .right h3 {
  margin: 0.5em auto .6em;
}

.mission .right h3 a {
  text-decoration: none;
  font-size: 1.2em;
  color: #f64a1e;
  text-shadow: 2px 2px #1d1d1d;
}

.mission .right #contact {
  width: 85%;
  margin: 0 auto 3.5rem;
}

@media (max-width: 480px) {
  .mission .right #contact {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=Home.css.map */