@import "../Utils/Mixins/Mixins.scss";


.blog {

  .post {
    display: flex;
    width: 80%;
    margin: auto;
    background: white;
    margin: 2em auto;
    // justify-content: space-around;
    //! https://www.cssmatic.com/box-shadow
    box-shadow: 15px 20px 55px -16px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 15px 20px 55px -16px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 15px 20px 55px -16px rgba(0, 0, 0, 0.79);

    .image {
      width: 35%;

      img {
        width: 80%;
        height: 100%;
        // margin: auto;
        border: 1px solid lime;
      }
    }

    .content {
      width: 60%;
      margin: 1em auto;
      text-align: justify;
      display: flex;
      flex-direction: column;

      span {
        text-align: left;
      }

      h3 {
        text-align: center;
        margin: .5em auto;
      }

      p {
        font-weight: 200;
      }

      button {
        border: 1px solid black;
        padding: .5em 1em;
        // margin-left: 40%;
        // margin-bottom: 1em;
        width: 25%;
        background: white;
      }
    }
  }
}
