// @mixin orange($orange);
$orange: rgb(246, 74, 30);
@mixin GOT() {
  font-family: "GameOfThrones";
  font-weight: 700;
}
//todo globe and socialMedia text on Laptop extreme sizes
.App {
  text-align: center;
  background: rgb(0, 0, 0);
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 700;

  .home {
    width: 90%;
    margin: auto;
    background: white;
    #header {
      height: 65vh;
      width: 100%;
      // margin: 0px;
      // border-bottom: 3px solid black;
      box-shadow: 0px 5px rgb(250, 231, 252);
    }
    nav {
      border-bottom: 5px solid darkslategrey;
      display: flex;
      justify-content: space-around;
      height: 10vh;
      background: $orange;
      // padding: 7px;
      // margin: 0px;
      a {
        color: rgb(25, 11, 50);
        text-decoration: none;
        margin: auto;
        @include GOT();
        font-size: 1.085rem;
        &:hover {
          color: rgb(245, 214, 210);
          transform: scale(1.3);
          transition: 0.57s;
          text-shadow: 1.5px 1.5px black;
        }
      }
    }
    h1 {
      display: inline;
      font-size: 1.2rem;
      color: rgb(64, 165, 251);
    }

    .globe {
      display: flex;
      flex-direction: row-reverse;
      background: url("../images/globe-stretch-new.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 60vh;
      // box-shadow: 2px 5px red;
      p {
        font-size: 1.125rem;
        text-align: justify;
        font-weight: normal;
        width: 40%;
        height: 35%;
        margin: auto;
        margin-right: 55%;
        color: white;
      }
    }
    .silhouette {
      display: flex;
      border-top: 1rem solid $orange;
      padding: 3.9rem 1.5rem;
      img {
        width: 50%;
        height: 100%;
        // margin: 1.5rem 0.4rem;
        margin: auto 0.4rem;
        border: 1.25px solid black;
        box-shadow: 7px 5px 5px rgb(153, 153, 153);
        // border-radius: 20%;
      }
      p {
        width: 44%;
        margin: auto;
        text-align: justify;
        padding: 1.4rem;
        h1 {
          font-size: 1rem;
        }
      }
    }
    .social-media {
      //todo add shadow to other pic
      display: flex;
      flex-direction: row-reverse;
      border-bottom: 1rem solid $orange;
      padding: 0 0.75rem;

      img {
        width: 50%;
        height: 40vh;
        margin-bottom: 1.5rem;
        box-shadow: -6px -4.5px 4px rgb(153, 153, 153);
      }
      .content {
        width: 50%;
        margin: 5% auto;
        text-align: justify;
        p {
          width: 80%;
          margin: 0px auto 7%;
        }
        span {
          text-decoration: underline;
          color: rgb(30, 146, 246);
        }
      }
    }
    .mission {
      display: flex;
      border-top: 1rem solid #243e75;

      .left {
        display: flex;
        background: url("../images/man-background.png");
        background-size: 105% 105%;
        width: 50%;
        height: 85vh;
        color: white;
        p {
          padding: 22% 17%;
          line-height: 1.7rem;
          text-align: justify;
          margin: auto 3%;
        }
      }
      .right {
        background: url("../images/trees-background.png");
        background-size: 100% 140%;
        background-position-y: 10%;
        background-repeat: no-repeat;
        width: 50%;
        margin-left: 0.75rem;
        display: flex;
        flex-direction: column;
        h4 {
          // color: rgb(252, 57, 6);
          @include GOT();
          font-size: 1.75rem;
          color: $orange;
          text-shadow: 2px 2px rgb(29, 29, 29);
          margin: 0px;
          margin-top: 3.5rem;
        }
        p {
          margin-top: 0.54rem;
          color: rgb(11, 38, 114);
        }

        ul {
          width: 72.5%;
          margin: 2rem auto;
          list-style: none;
          text-align: left;
          padding: 0.5rem;
          padding-left: 1rem;
          li {
            text-align: left;
            line-height: 1.5rem;
            color: rgb(11, 38, 114);
            font-size: 1.1rem;
          }
          ::before {
            content: "*";
            // color: rgb(252, 57, 6);
            color: $orange;
            margin-right: 0.4%;
            text-shadow: 0.5px 0.5px rgb(29, 29, 29);
          }
        }
        h3 {
          // display: inline;
          @include GOT();
          font-size: 1.85rem;
          // color: rgb(252, 57, 6);
          color: $orange;
          text-shadow: 2px 2px rgb(29, 29, 29);
          margin: 0.85rem auto;
        }
        #contact {
          width: 85%;
          margin: 0 auto 3.5rem;
        }
      }
    }
    footer {
      background-image: url("../images//blue-footer.png");
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: left;
      border-top: 0.85rem solid $orange;
      img {
        width: 92%;
        height: 20vh;
        margin: 5% auto 1%;
      }
      p {
        //todo change font
        @include GOT;
        text-align: center;
        font-size: 3rem;
        // line-height: 0.9rem;
        color: rgb(247, 54, 4);
        // color: $orange;
        margin: 0.25rem auto 0;
        width: 100%;
        text-shadow: -0.5px -0.5px white;
      }
      .bottom {
        display: flex;
        width: 100%;
        margin: 2rem auto 0.5rem;
        // justify-content: ;
        p {
          font-weight: normal;
          color: white;
          font-size: 1.35rem;
          text-align: justify;
          padding: 0 10%;
        }

        .contact {
          width: 23%;
          margin-left: 8rem;
          padding-left: 1.367rem;

          span {
            color: white;
            font-size: 1.35rem;
            text-align: justify;
            padding: 0 7%;
          }
        }
        .email {
          width: 25%;
          margin-left: 2.35rem;
          #email {
            width: auto;
            font-size: 1.35rem;
            margin-bottom: 1.15rem;
          }
        }
      }
      span {
        color: white;
        font-size: 0.7rem;
        margin: 1.5rem auto 0.75rem;
      }
    }
  }
}
