// @mixin orange($orange);
$orange: rgb(253, 56, 5);

.App {
  text-align: center;
  background: rgb(0, 0, 0);
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: bold;

  .home {
    width: 90%;
    margin: auto;
    background: white;
    #header {
      height: 65vh;
      width: 100%;
      // margin: 0px;
      // border-bottom: 3px solid black;
      box-shadow: 0px 5px #0b2673;
    }
    nav {
      border-bottom: 5px solid #0b2673;
      display: flex;
      justify-content: space-around;
      height: 10vh;
      background: $orange;
      // padding: 7px;
      // margin: 0px;
      a {
        color: rgb(25, 11, 50);
        text-decoration: none;
        margin: auto;
      }
    }
    h1 {
      display: inline;
      font-size: 1.2rem;
      color: rgb(64, 165, 251);
    }

    .globe {
      display: flex;
      flex-direction: row-reverse;
      background: url("../images/globe-stretch-new.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 60vh;
      p {
        font-size: 1.125rem;
        text-align: center;
        font-weight: normal;
        width: 35%;
        height: 35%;
        margin: auto auto auto 7%;
        color: white;
      }
    }
    .silhouette {
      display: flex;
      border-top: 1rem solid $orange;
      padding: 4rem 1.5rem;
      img {
        width: 50%;
        height: 100%;
        // margin: 1.5rem 0.4rem;
        margin: auto 0.4rem;
        border: 1.25px solid black;
        box-shadow: 7px 5px 5px rgb(153, 153, 153);
        // border-radius: 20%;
      }
      p {
        width: 44%;
        margin: auto;
        text-align: justify;
        padding: 1.4rem;
        h1 {
          font-size: 1rem;
        }
      }
    }
    .social-media {
      //todo add shadow to other pic
      display: flex;
      flex-direction: row-reverse;
      border-bottom: 1rem solid rgb(253, 110, 66);
      padding: 0 0.75rem;

      img {
        width: 50%;
        height: 40vh;
        margin-bottom: 1.5rem;
        box-shadow: -6px -4.5px 4px rgb(153, 153, 153);
      }
      .content {
        width: 50%;
        margin: 5% auto;
        text-align: justify;
        p {
          width: 80%;
          margin: 0px auto 7%;
        }
        span {
          text-decoration: underline;
          color: rgb(30, 146, 246);
        }
      }
    }
    .mission {
      display: flex;
      border-top: 1rem solid #243e75;

      .left {
        background: url("../images/man-background.png");
        background-size: 105% 105%;
        width: 50%;
        color: white;
        text-align: justify;
        // margin: auto;
        p {
          padding: 22% 17%;
          line-height: 1.7rem;
          // margin: auto;
          // position: absolute;
          // right: 50%;
        }
      }
      .right {
        background: url("../images/trees-background.png");
        background-size: 100% 140%;
        background-position-y: 10%;
        background-repeat: no-repeat;
        width: 50%;
        margin-left: 0.75rem;
        h4 {
          color: rgb(252, 57, 6);
          font-size: 1.4rem;
          text-shadow: 2px 2px rgb(29, 29, 29);
          margin: 0px;
          padding-top: 3rem;
        }
        p {
          margin-top: 0.54rem;
          color: rgb(11, 38, 114);
        }

        ul {
          width: 72.5%;
          margin: 1.5rem auto 2rem;
          list-style: none;
          text-align: left;
          padding: 0.5rem;
          padding-left: 1rem;
          li {
            text-align: left;
            line-height: 1.3rem;
            color: rgb(11, 38, 114);
            font-size: 1.1rem;
          }
          ::before {
            content: "*";
            color: rgb(252, 57, 6);
            margin-right: 0.4%;
            text-shadow: 0.5px 0.5px rgb(29, 29, 29);
          }
        }
        h3 {
          display: inline;
          font-size: 1.5rem;
          color: rgb(252, 57, 6);
          text-shadow: 2px 2px rgb(29, 29, 29);
        }
        #contact {
          // font-size: 1.05rem;
          width: 85%;
          margin: 0.7rem auto 3.5rem;
        }
      }
    }
    footer {
      background-image: url("../images//blue-footer.png");
      background-size: 100% 115%;
      // background-position-y: -0.5rem;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: left;
      border-top: 0.85rem solid $orange;
      img {
        width: 92%;
        height: 13vh;
        margin: 5% auto 1%;
      }
      p {
        //todo change font
        text-align: center;
        font-size: 3rem;
        // line-height: 0.9rem;
        color: rgb(247, 54, 4);
        margin: 0.25rem auto 0;
        width: 100%;
        text-shadow: -0.5px -0.5px white;
      }
      .bottom {
        display: flex;
        width: 100%;
        margin: 2rem auto 0.5rem;
        p {
          font-weight: normal;
          color: white;
          font-size: 1.35rem;
          text-align: justify;
          padding: 0 10%;
        }

        .contact {
          width: 50%;
          padding-left: 1rem;

          span {
            color: white;
            font-size: 1.35rem;
            text-align: justify;
            padding: 0 7%;
          }
        }
        .email {
          width: 50%;
          line-height: 1.8rem;
          #email {
            font-size: 1.35rem;
            margin-bottom: 2.26rem;
          }
        }
      }
      span {
        color: white;
        font-size: 0.7rem;
        margin: 1.5rem auto 0.75rem;
      }
    }
  }
}
