@import "../Utils/Mixins/Mixins.scss";

.dropdown {
  position: relative;
  .drop-content {
    display: none;
    position: absolute;
    transition: all 3s;
  }
  //todo fix dropdown later
  &:hover .drop-content {
    display: flex;
    flex-direction: column;
    width: 11.5em;
    background: $orange;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em 0;
    box-shadow: black 4px 6px;
    a {
      width: 80%;
      margin: 0.4em auto;
      font-size: 0.875em;
    }
    // section {
    //   width: 50%;
    // }
  }
}
