@import "../Utils/Mixins/Mixins.scss";


nav {
  display: flex;
  // height: 4vh;
  // min-height: 3em;
  background: $darkBlue;
  border-top: 2px solid $darkBlue;
  border-bottom: 2px solid $darkBlue;
  padding: 0 15%;
  justify-content: space-around;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;


  @include breakpoint(laptop) {
    padding: 0 7%;
  }

  @include breakpoint(mobile) {
    display: none;
  }

  /* Links inside the navbar */
  .nav-item {
    color: white;
    font-size: 1em;
    text-align: center;
    padding: .5em .65em;
    text-decoration: none;

    &:hover {
      color: $orange;
      transform: scale(1.1);
      transition: ease-in-out 150ms;
    }
  }

  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;

    .drop-btn {
      border: none;
      background-color: inherit;

      @include breakpoint(mobile) {
        /* margin important for vertical align on mobile phones */
        margin: 0;
      }
    }

    &:hover .dropdown-content {
      display: flex;
    }

    &:hover .drop-btn {
      color: $orange;
    }

    .dropdown-content {
      display: none;
      // display: flex;
      position: absolute;
      background: #020723;
      padding: .15em 1em .5em;
      opacity: 90%;
      // min-width: 160px;
      width: 60%;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      justify-content: space-between;
      left: 21.5%;

      @include breakpoint(laptop) {
        width: 80%;
        left: 8%;
      }

      .nav-section {
        width: 23%;

        &:nth-child(2) {
          width: 50%;

          .split {
            display: flex;
            justify-content: center;

            // margin: auto;
            div {
              width: 50%;
            }
          }
        }

        h3 {
          color: $orange;
          text-decoration: underline;
          margin-bottom: .25em;
        }

        .drop-item {
          float: none;
          color: white;
          padding: .5em .65em;
          margin: .2em;
          text-decoration: none;
          display: block;
          text-align: center;
          font-size: .85em;
          font-weight: inherit;
          // width: 90%;

          &:hover {
            color: $orange;
            // background: rgb(212, 212, 212);
            transform: scale(1.15);
            transition: ease-in-out 200ms;
          }
        }

      }
    }
  }
}
