.inquiryForm {
  height: 100%;
}

.inquiryForm h1 {
  padding-top: .7em;
  color: #0b2673;
}

.inquiryForm p {
  font-style: italic;
  margin: 1em auto 3em;
}

@media (max-width: 480px) {
  .inquiryForm p {
    display: none;
  }
}

.inquiryForm form .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: auto 3em;
}

@media (max-width: 480px) {
  .inquiryForm form .left {
    margin: auto 1em;
  }
}

.inquiryForm form .left label {
  font-size: 1.2em;
  margin-top: .25em;
}

@media (max-width: 480px) {
  .inquiryForm form .left label {
    font-size: 1.05em;
  }
}

.inquiryForm form .left label input[type="text"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: .1em auto .2em .5em;
  font-size: .9em;
  width: 50%;
}

@media (max-width: 480px) {
  .inquiryForm form .left label input[type="text"] {
    width: 95%;
    margin: .1em auto .2em .5em;
  }
}

.inquiryForm form .left .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 480px) {
  .inquiryForm form .left .time label {
    text-align: center;
    margin: .3em auto .15em;
  }
}

@media (max-width: 480px) {
  .inquiryForm form .left .time div {
    margin: auto;
    width: 75%;
  }
}

.inquiryForm form .left .time div input[type='radio'] {
  margin: auto 1em;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.inquiryForm form h3 {
  text-align: left;
  margin: 2.5em 3em 1em;
}

@media (max-width: 480px) {
  .inquiryForm form h3 {
    margin: 1.5em 1em 1em;
  }
}

.inquiryForm form .right {
  margin: auto 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 480px) {
  .inquiryForm form .right {
    margin: auto 2em;
  }
}

.inquiryForm form .right label {
  font-size: 1.2em;
  text-align: left;
  width: 45%;
  margin-bottom: .5em;
}

@media (max-width: 480px) {
  .inquiryForm form .right label {
    font-size: 1em;
    margin-bottom: .6em;
    width: 48%;
  }
}

.inquiryForm form .actions {
  width: 20%;
  margin: 1em auto 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 800px) and (max-width: 1449px) {
  .inquiryForm form .actions {
    margin: 1.2em auto 2em;
  }
}

@media (max-width: 480px) {
  .inquiryForm form .actions {
    width: 50%;
    margin: 1.2em auto 2em;
  }
}

.inquiryForm form .actions input {
  font-size: 1.1em;
  margin: auto;
}

.inquiryForm form .actions input:hover {
  background: #f64a1e;
  color: white;
  font-weight: 700;
}

.inquiryForm form .antiSpam {
  display: none;
}
/*# sourceMappingURL=InquirySurveyForm.css.map */